@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyC8F0gGkMf-PUPE4YQGRB5pOvAiTFNDv9I"></script>
<script type="text/javascript">google.maps.event.addDomListener(window, 'load', function () {

    var input = document.getElementById('Address');
    var places = new google.maps.places.Autocomplete(input, {});

    google.maps.event.addListener(places, 'place_changed', function () {

        $("#spinner").show();

        let place = places.getPlace();
        var city = '';
        var state = '';
        var zip = '';
        var thehouse;
        for (var i = 0; i < place.address_components.length; i++) {
            for (var j = 0; j < place.address_components[i].types.length; j++) {
                if (place.address_components[i].types[j] == "locality") {
                    city = place.address_components[i].short_name;
                }
                if (place.address_components[i].types[j] == "administrative_area_level_1") {
                    state = place.address_components[i].short_name;
                }
                if (place.address_components[i].types[j] == "postal_code") {
                    zip = place.address_components[i].short_name;
                }
            }
        }

        $(".address-formatted").html(place.formatted_address);

        $.post("@Url.Action("GetPropertyData", "Home")", { address: place.name, citystatezip: city + ", " + state + " " + zip }, function (house) {

                thehouse = house;
                var str = '';
                for (var prop in house) {
                    str += "<div class='card col-sm-6'><label>"+ prop + "</label>" + house[prop] + "</div>";
                }
                $(".address-zillow").html(str);

                // Make fake data for income.  This would be based on the zillow estimate - mortgage - tax - insurance
                let a = [];
                let start = 500;
                for (let i = 0; i < 11; i++) {
                    a[i] = (start + (i * 250));
                }

                // Same chart to show cashflow overtime

                const chart = Highcharts.chart('chart', {
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '$' + Highcharts.numberFormat(this.y, 0);
                                }
                            }
                        }
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Cash Flow -' + place.formatted_address
                    },
                    xAxis: {
                        categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                    },
                    yAxis: {
                        title: {
                            text: 'Income'
                        }
                    },
                    series: [{
                        name: 'Property 1',
                        data: a,
                    }]
                });

                // Make a map with the center being the property location

                const map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: thehouse.latitude, lng: thehouse.longitude
                    },
                    zoom: 8,
                });

                // Mark the address on the map
                new google.maps.Marker({
                    position: { lat: thehouse.latitude, lng: thehouse.longitude},
                    map,
                    title: thehouse.address,
                });

                $("#spinner").hide();


            });

        });
    });
</script>

<div class="text-center">
    <div class="container address-input">
        <input id="Address" type="text" />
    </div>
    <div id="spinner" class="spinner-border" role="status" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div>
    <div id="chart"></div>
    <div id="map"></div>
    <div class="container address-formatted"></div>
    <div class="container row address-zillow"></div>
</div>
